body {background-color: #777;}


.header {
    padding: 25px;
    text-align: center;
    background: #ffffff;
    color: #777;
    font-size: 30px;
    margin-bottom: 10px;
}

.nav {
    padding: 25px;
    text-align: center;
    background: #ffffff;
    color: #777;
    font-size: 30px;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 45%;
    padding: 15px;
    background: #ffffff;
    color: #777;
    text-align: center;
    margin-bottom: 10px;
}

.column2 {
    display: inline;
    float: right;
    width:45%;
    padding: 15px;
    background: #ffffff;
    color: #777;
    text-align: center;
}

.footer {
    background: #ffffff;
    color: #777777;
    padding: 30px 0;
    clear: both;
    color: #ccc;
    font-size: 36;
    text-align: center;